<div id="content">
    <div class="mb-2">
        <google-map height="250px" id="map" [options]="options" *ngIf="options">
            <map-marker
                [position]="markerPosition"
                *ngIf="markerPosition"
            ></map-marker>
        </google-map>
    </div>

    <!-- Header with Google Maps link -->
    <div
        class="text-base"
        id="header"
        *ngIf="(message | messageData)?.location?.name"
    >
        <p class="">
            <a
                [href]="
                    'https://maps.google.com/maps/search/' +
                    (message | messageData)?.location?.name +
                    '/@' +
                    (message | messageData)?.location?.latitude +
                    ',' +
                    (message | messageData)?.location?.longitude
                "
                target="_blank"
                rel="noopener noreferrer"
                [textContent]="(message | messageData)?.location?.name"
            ></a>
        </p>
    </div>

    <!-- Body -->
    <p
        class=""
        id="body"
        *ngIf="(message | messageData)?.location?.address"
        [textContent]="(message | messageData)?.location?.address"
    ></p>
</div>
