<div
    class="h-full mx-auto p-6 dark:bg-gray-900 dark:text-gray-100 scrollable overflow-y-scroll"
>
    <h3
        class="text-gray-600 dark:text-gray-200 text-xl font-semibold mb-4"
        i18n
    >
        Campaign settings
    </h3>

    <div
        *ngIf="campaign"
        class="bg-gray-100 dark:bg-gray-700 p-6 rounded-lg mb-6 grid grid-cols-12 gap-4"
    >
        <div
            class=""
            [ngClass]="{
                'col-span-12 relative': true,
                'sm:col-span-12': !campaignId,
                'sm:col-span-6': campaignId,
            }"
        >
            <label class="block text-sm font-medium mb-2" i18n>Name</label>
            <div class="relative">
                <input
                    type="url"
                    [(ngModel)]="campaign.name"
                    [disabled]="!isEditing"
                    class="bg-gray-200 dark:text-white p-2 rounded w-full dark:bg-gray-600 outline-none"
                />
            </div>
        </div>

        <div class="col-span-12 sm:col-span-6 relative" *ngIf="campaignId">
            <label class="block text-sm font-medium mb-2">ID</label>
            <div class="relative">
                <input
                    [(ngModel)]="campaign.id"
                    [disabled]="!isEditing"
                    class="bg-gray-200 dark:text-white p-2 rounded w-full dark:bg-gray-600 outline-none pr-10"
                />

                <button
                    mat-icon-button
                    class="absolute right-2 top-2 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white transition"
                    (click)="copyToClipboard(campaign.id)"
                    matTooltip="Copy campaign ID"
                >
                    <mat-icon class="material-icons-outlined">copy</mat-icon>
                </button>
            </div>
        </div>

        <div class="col-span-12 sm:col-span-4 relative" *ngIf="campaignId">
            <label class="block text-sm font-medium mb-2" i18n
                >Total messages</label
            >
            <div class="relative">
                <div
                    class="bg-gray-200 dark:text-white p-2 rounded w-full dark:bg-gray-600 outline-none"
                >
                    {{ totalMessages }}
                </div>
            </div>
        </div>

        <div class="col-span-12 sm:col-span-4 relative" *ngIf="campaignId">
            <label class="block text-sm font-medium mb-2" i18n
                >Messages sent</label
            >
            <div class="relative">
                <div
                    class="bg-gray-200 dark:text-white p-2 rounded w-full dark:bg-gray-600 outline-none"
                >
                    {{ messagesSent }}
                </div>
            </div>
        </div>

        <div class="col-span-12 sm:col-span-4 relative" *ngIf="campaignId">
            <label class="block text-sm font-medium mb-2" i18n
                >Unsent messages</label
            >
            <div class="relative">
                <div
                    class="bg-gray-200 dark:text-white p-2 rounded w-full dark:bg-gray-600 outline-none pr-10"
                >
                    {{ unsentMessages }}
                </div>
            </div>
        </div>

        <!-- Button section -->
        <div class="col-span-6 flex flex-col items-center" *ngIf="!isEditing">
            <button
                (click)="toggleEdit()"
                class="w-full py-2 bg-green-600 hover:bg-green-700 text-white font-bold rounded dark:bg-green-500 dark:hover:bg-green-600"
                i18n
            >
                Edit
            </button>
        </div>

        <div
            class="col-span-6 flex flex-col items-center"
            *ngIf="!isEditing && campaignId"
        >
            <button
                (click)="delete()"
                class="w-full py-2 bg-red-600 hover:bg-red-700 text-white font-bold rounded dark:bg-red-500 dark:hover:bg-red-600"
                i18n
            >
                Delete
            </button>
        </div>

        <div class="col-span-6 flex flex-col items-center" *ngIf="isEditing">
            <button
                (click)="cancelEdit()"
                class="w-full py-2 bg-red-600 hover:bg-red-700 text-white font-bold rounded dark:bg-red-500 dark:hover:bg-red-600"
                i18n
            >
                Cancel
            </button>
        </div>

        <div class="col-span-6 flex flex-col items-center" *ngIf="isEditing">
            <button
                (click)="saveChanges()"
                class="w-full py-2 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded dark:bg-blue-500 dark:hover:bg-blue-600"
            >
                Save
            </button>
        </div>
    </div>

    <div *ngIf="campaignId" class="text-gray-600 dark:text-gray-200">
        <h3 class="text-lg font-semibold mb-2" i18n>Send campaign</h3>

        <app-send-campaign
            [total]="unsentMessages"
            (done)="loadCampaignDataAndStatuses()"
            class="rounded-lg"
        ></app-send-campaign>

        <h3 class="text-lg font-semibold mb-2" i18n>
            Add messages to campaign
        </h3>

        <app-campaign-message-builder
            class="rounded-lg"
            (messagesAdded)="loadMessageCount()"
        ></app-campaign-message-builder>

        <h3 class="text-lg font-semibold mb-2" i18n>Messages</h3>

        <app-campaign-messages
            class="max-w-full rounded-lg"
        ></app-campaign-messages>
    </div>
</div>
