<a
    [ngClass]="{
        'w-full flex items-center px-4 py-4 border-b border-gray-200 dark:border-gray-700': true,
        'bg-gray-200 dark:bg-gray-600': isSelected,
        'hover:bg-gray-300 dark:hover:bg-gray-700': !isSelected,
    }"
    [routerLink]="[]"
    [queryParams]="{ 'user.id': this.user.id }"
    preserveFragment
    #rootAnchor
>
    <div class="ml-3 flex-1 truncate">
        <div class="flex justify-between items-center mb-2">
            <span
                class="text-gray-800 dark:text-gray-200 font-medium truncate"
                [textContent]="user.name"
            ></span>
            <span
                class="text-gray-500 dark:text-gray-400 text-sm"
                [textContent]="user.created_at | simplifiedDate"
            ></span>
        </div>
        <div class="w-full flex flex-row justify-between items-end">
            <span
                class="text-gray-600 dark:text-gray-400 text-sm text-left truncate"
                [textContent]="user.email"
            ></span>
            <span
                [ngClass]="{
                    'font-semibold': true,
                    'text-green-600': user.role === Role.user,
                    'text-blue-600': user.role === Role.admin,
                    'text-yellow-600 ': user.role === Role.automation,
                    'text-cyan-600': user.role === Role.developer,
                }"
                [textContent]="user.role"
            ></span>
        </div>
    </div>
</a>
