<div
    class="max-h-screen py-8 fixed top-0 left-0 bottom-0 right-0 flex items-center justify-center bg-gray-800 bg-opacity-70 z-10"
>
    <div
        class="flex flex-col max-h-full w-[800px] max-w-full rounded-sm shadow-lg overflow-y-hidden"
    >
        <div
            class="flex-grow-0 px-6 py-2 bg-blue-600 dark:bg-gray-700 text-white flex justify-between items-center"
        >
            <h2 class="text-xl font-medium" i18n>Message details</h2>
            <div class="flex gap-2">
                <div
                    class="w-10 aspect-square flex items-center justify-center rounded-full active:bg-gray-200 dark:active:bg-gray-600 outline-none"
                    role="button"
                    [ngClass]="{
                        'bg-gray-300 dark:bg-gray-500': copied,
                        'hover:bg-gray-400 dark:hover:bg-gray-600': !copied,
                    }"
                    (click)="copyToClipboard()"
                >
                    <!-- Material Icon -->
                    <mat-icon
                        class="aspect-square text-white material-icons-outlined"
                        >content_copy</mat-icon
                    >
                </div>

                <button
                    class="w-10 aspect-square flex items-center justify-center rounded-full active:bg-gray-200 dark:active:bg-gray-600 outline-none"
                    [ngClass]="{
                        'hover:bg-gray-400 dark:hover:bg-gray-600': true,
                    }"
                    (click)="close()"
                >
                    <!-- Material Icon -->
                    <mat-icon
                        class="aspect-square text-white material-icons-outlined"
                        >close</mat-icon
                    >
                </button>
            </div>
        </div>

        <!-- JSON Viewer -->
        <div
            class="flex-grow-1 p-4 max-h-full h-auto w-full bg-white dark:bg-gray-900 overflow-y-auto scrollable"
        >
            <ngx-json-viewer
                [json]="message"
                [expanded]="true"
                [depth]="2"
            ></ngx-json-viewer>
        </div>
    </div>
</div>
