<a
    [ngClass]="{
        'w-full flex items-center px-4 py-4 border-b border-gray-200 dark:border-gray-700': true,
        'bg-gray-200 dark:bg-gray-600': isSelected,
        'hover:bg-gray-300 dark:hover:bg-gray-700': !isSelected,
    }"
    [routerLink]="[]"
    [preserveFragment]="true"
    [queryParamsHandling]="'merge'"
    [queryParams]="{ 'template.name': template.name }"
    #rootAnchor
>
    <div class="ml-3 flex-1 truncate">
        <div class="flex justify-between items-center mb-2">
            <span
                class="text-gray-800 dark:text-gray-200 font-medium truncate"
                [textContent]="template.name"
            ></span>
            <span
                [ngClass]="{
                    'text-sm': true,
                    'text-red-600': template.status === 'REJECTED',
                    'text-yellow-600': template.status === 'PENDING',
                    'text-green-600': template.status === 'APPROVED',
                    'text-gray-500 dark:text-gray-400':
                        template.status !== 'APPROVED' &&
                        template.status !== 'PENDING',
                }"
                [textContent]="template.status"
            ></span>
        </div>
        <div class="w-full flex flex-row justify-between items-end">
            <span
                class="text-gray-600 dark:text-gray-400 text-sm text-left truncate"
                [textContent]="template.id"
            ></span>
            <span
                class=""
                [ngClass]="{
                    'font-normal ': true,
                    'text-yellow-600': template.category === 'MARKETING',
                    'text-blue-600': template.category === 'UTILITY',
                    'text-white':
                        template.category !== 'UTILITY' &&
                        template.category !== 'MARKETING',
                }"
                [textContent]="template.category"
            ></span>
        </div>
    </div>
</a>
