<div class="h-screen w-full flex justify-center items-center dark:bg-gray-800">
    <div class="bg-white dark:bg-gray-700 p-8 rounded shadow-md w-80">
        <div
            class="w-full flex mb-8 items-center"
        >
            <h2 class="w-full text-2xl font-bold text-gray-800 dark:text-white grow-1">
                Login
            </h2>
            <div class="grow-0 w-4 h-4 aspect-square border-4 border-blue-500 border-t-transparent rounded-full animate-spin"
                *ngIf="isLoading"
            ></div>
        </div>
        <div class="mb-5">
            <label
                for="username"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-300"
                i18n
                >Username</label
            >
            <input
                type="text"
                name="username"
                class="w-full px-3 py-2 border rounded-md text-gray-600 dark:bg-gray-600 dark:border-gray-600 dark:text-gray-300"
                required
                (keydown.control.enter)="login()"
                #username
            />
        </div>
        <div class="mb-5 relative">
            <label
                for="password"
                class="block mb-2 text-sm text-gray-600 dark:text-gray-300"
                i18n
                >Password</label
            >
            <input
                [type]="showPassword ? 'text' : 'password'"
                name="password"
                class="w-full px-3 py-2 border rounded-md text-gray-600 dark:bg-gray-600 dark:border-gray-600 dark:text-gray-300 pr-10"
                required
                (keydown.enter)="login()"
                #password
            />
            <!-- Toggle Button with Material Icon -->
            <button
                type="button"
                class="absolute right-2 top-9 text-gray-600 dark:text-gray-300 focus:outline-none"
                (click)="togglePasswordVisibility()"
                aria-label="Toggle password visibility"
            >
                <span class="material-icons-outlined text-xl">
                    {{ showPassword ? 'visibility_off' : 'visibility' }}
                </span>
            </button>
        </div>

        <div class="mb-5" *ngIf="errorMessage">
            <span class="text-red-600">{{ errorMessage }}</span>
        </div>

        <button
            class="w-full py-2 px-4 bg-blue-600 hover:bg-blue-700 rounded-md text-white text-sm dark:bg-blue-500 dark:hover:bg-blue-400"
            (click)="login()"
            [disabled]="isLoading"
            i18n
        >
            Submit
        </button>
    </div>
</div>
