<div
    class=""
    [ngClass]="{
        'rounded-md p-2 border-green-700 border-l-4 text-xm': true,
        'bg-blue-400 dark:bg-blue-900': backgroundColor === 'blue',
        'bg-gray-200 dark:bg-gray-800': backgroundColor === 'gray',
    }"
    (click)="setIdAsQueryParam()"
    *ngIf="replyToMessage"
>
    <p class="text-green-700 mb-2">
        <span
            *ngIf="replyToMessage.receiver_data"
            [textContent]="contactName"
        ></span>
        <span *ngIf="!replyToMessage.receiver_data" i18n>You</span>
    </p>

    <div
        class="text-gray-300"
        *ngIf="(replyToMessage | messageData).type == 'interactive'"
    >
        <div
            class="w-full"
            *ngIf="
                replyToMessage.sender_data &&
                (replyToMessage.sender_data.interactive?.type == 'list' ||
                    replyToMessage.sender_data.interactive?.type == 'button')
            "
        >
            <p
                class="w-full font-bold"
                *ngIf="
                    replyToMessage.sender_data &&
                    replyToMessage.sender_data.interactive?.header?.type ==
                        'text'
                "
            >
                {{ replyToMessage.sender_data.interactive?.header?.text }}
            </p>

            <p class="w-full mt-2 truncate">
                {{ replyToMessage.sender_data.interactive?.body?.text }}
            </p>
        </div>

        <div
            class="w-full"
            *ngIf="
                replyToMessage.receiver_data &&
                replyToMessage.receiver_data.interactive?.type == 'button_reply'
            "
        >
            <p class="w-full">
                {{
                    replyToMessage.receiver_data.interactive?.button_reply
                        ?.title
                }}
            </p>
        </div>

        <div
            class="w-full"
            *ngIf="
                replyToMessage.receiver_data &&
                replyToMessage.receiver_data.interactive?.type == 'list_reply'
            "
        >
            <p class="w-full font-bold">
                {{
                    replyToMessage.receiver_data.interactive?.list_reply?.title
                }}
            </p>

            <p
                class="w-full mt-2 truncate"
                *ngIf="
                    replyToMessage.receiver_data.interactive?.list_reply
                        ?.description
                "
            >
                {{
                    replyToMessage.receiver_data.interactive?.list_reply
                        ?.description
                }}
            </p>
        </div>
    </div>

    <div
        class="text-gray-300"
        *ngIf="(replyToMessage | messageData).type == 'template'"
    >
        <p class="w-full font-bold" *ngIf="interpolatedTemplate.headerText">
            {{ interpolatedTemplate.headerText }}
        </p>

        <app-message-content-preview
            class="w-full font-bold"
            [message]="headerUseMediaAsSenderData"
            *ngIf="
                ['image', 'video', 'audio', 'sticker', 'document'].indexOf(
                    interpolatedTemplate.headerType
                ) > -1
            "
        ></app-message-content-preview>

        <p class="w-full mt-2 truncate">
            {{ interpolatedTemplate.bodyText }}
        </p>
    </div>

    <div
        class="text-gray-300"
        *ngIf="(replyToMessage | messageData).type == 'text'"
    >
        <p class="w-full mt-2 truncate">
            {{ (replyToMessage | messageData).text?.body }}
        </p>
    </div>

    <app-message-content-preview
        class="text-gray-300"
        [message]="replyToMessage | messageData"
        *ngIf="
            [
                'image',
                'video',
                'audio',
                'document',
                'sticker',
                'location',
                'reaction',
                'contacts',
                'template',
            ].indexOf((replyToMessage | messageData).type) > -1
        "
    ></app-message-content-preview>
</div>
