<div
    class="flex flex-col items-center justify-center w-full px-4 py-6 bg-white dark:bg-gray-800 rounded-lg shadow-md"
>
    <label
        for="file-upload"
        class="flex flex-col items-center justify-center w-full h-48 border-2 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:bg-gray-700 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-600 transition"
        [ngClass]="{
            'border-green-500 bg-green-50 dark:bg-green-900 dark:border-green-600':
                uploadedFileName,
        }"
    >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <mat-icon class="material-symbols-outlined mb-3">
                {{ uploadedFileName ? "check_circle" : "upload" }}
            </mat-icon>

            <p class="mb-2 text-sm text-gray-500 dark:text-gray-300">
                <span class="font-semibold" i18n *ngIf="uploadedFileName"
                    >File uploaded:</span
                >
                <span class="font-semibold" i18n *ngIf="!uploadedFileName"
                    >Click to upload</span
                >
                <span *ngIf="!uploadedFileName">&nbsp;</span>
                <span *ngIf="!uploadedFileName" i18n>or drag and drop</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-300">
                <ng-container *ngIf="uploadedFileName; else formatInfo">
                    {{ uploadedFileName }}
                </ng-container>
                <ng-template #formatInfo>
                    <span *ngIf="acceptedFormats">{{ acceptedFormats }}</span>
                </ng-template>
            </p>
        </div>
        <input
            #fileInput
            id="file-upload"
            type="file"
            class="hidden"
            (change)="onFileChange($event)"
        />
    </label>

    <button
        (click)="clearFile(fileInput)"
        class="mt-4 text-sm text-red-600 hover:underline"
        i18n
        *ngIf="uploadedFileName"
    >
        Remove file
    </button>
</div>
