<div
    class="bg-gray-200 dark:bg-gray-700 py-2 overflow-auto flex flex-row justify-between items-center border-gray-300 dark:border-gray-700 border-r"
>
    <div class="flex flex-row items-center justify-center">
        <!--a
            [routerLink]="['/', RoutePath.home]"
            [fragment]="HomeFragment.chats"
            [queryParams]="queryParamsService.globalQueryParams"
            queryParamsHandling="replace"
            class="navigator"
        >
            <app-small-button
                [active]="activePage === HomeFragment.chats"
                matTooltip="Chats"
                matIcon="chat"
                i18n-matTooltip
            >
            </app-small-button>
        </a-->
        <a
            [routerLink]="['/', RoutePath.account]"
            [queryParams]="queryParamsService.globalQueryParams"
            queryParamsHandling="replace"
            class=""
        >
            <app-small-button
                [active]="activePage === 'account'"
                matTooltip="Account configuration"
                matIcon="settings"
                i18n-matTooltip
            ></app-small-button>
        </a>
    </div>
</div>

<app-shortcuts
    [navItems]="navItems"
    *ngIf="showShortcuts"
    (close)="showShortcuts = false"
></app-shortcuts>
