<div>
    <!-- Filters Section -->
    <div class="mb-4 rounded-lg bg-gray-50 p-4 dark:bg-gray-700">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-9">
            <!-- Filter by HTTP Response Code -->
            <div class="col-span-2">
                <label class="text-sm text-gray-700 dark:text-gray-300">Response Code</label>
                <input
                    type="number"
                    [(ngModel)]="httpResponseCode"
                    class="w-full rounded-md border bg-white p-2 dark:bg-gray-700 dark:text-white"
                    placeholder="e.g. 200"
                />
            </div>
            <!-- Filter by Created Date (from) -->
            <div class="col-span-2">
                <label class="text-sm text-gray-700 dark:text-gray-300">Created After</label>
                <input
                    type="datetime-local"
                    [(ngModel)]="createdAtGte"
                    class="w-full rounded-md border bg-white p-2 dark:bg-gray-700 dark:text-white"
                />
            </div>
            <!-- Filter by Created Date (to) -->
            <div class="col-span-2">
                <label class="text-sm text-gray-700 dark:text-gray-300">Created Before</label>
                <input
                    type="datetime-local"
                    [(ngModel)]="createdAtLte"
                    class="w-full rounded-md border bg-white p-2 dark:bg-gray-700 dark:text-white"
                />
            </div>
            <!-- Order by Created Date -->
            <div class="col-span-2">
                <label class="text-sm text-gray-700 dark:text-gray-300">Created at order</label>
                <select
                    [(ngModel)]="dateOrder"
                    class="w-full rounded-md border bg-white p-2 dark:bg-gray-700 dark:text-white"
                >
                    <option [value]="DateOrderEnum.desc">
                        {{ DateOrderEnum.desc }}
                    </option>
                    <option [value]="DateOrderEnum.asc">
                        {{ DateOrderEnum.asc }}
                    </option>
                </select>
            </div>

            <div class="col-span-1 flex items-center justify-center space-x-2">
                <app-small-button (click)="clearFilters()" matIcon="clear_all"> </app-small-button>
                <!-- Apply Button -->

                <app-small-button (click)="applyFilters()" matIcon="search"> </app-small-button>
            </div>
        </div>
    </div>

    <!-- Webhook Logs List -->
    <div class="scrollable max-h-[100vh] overflow-y-auto px-2" (scroll)="onScroll($event)">
        <div
            *ngFor="let log of logs; let i = index"
            class="mb-2 overflow-auto rounded-lg bg-gray-100 p-4 dark:bg-gray-800"
        >
            <div class="flex cursor-pointer items-center justify-between" (click)="toggleExpand(i)">
                <div>
                    <!-- Main Log Info with Colored Status Codes -->
                    <p
                        [ngClass]="{
                            'text-green-600':
                                log.http_response_code >= 200 && log.http_response_code < 300,
                            'text-yellow-600':
                                log.http_response_code >= 300 && log.http_response_code < 400,
                            'text-red-600': log.http_response_code >= 400,
                        }"
                        class="font-semibold"
                    >
                        HTTP Response Code: {{ log.http_response_code }}
                    </p>
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                        Created At: {{ log.created_at | date: "short" }}
                    </p>
                </div>
                <span class="text-gray-500 dark:text-gray-400" *ngIf="expandedLogIndex !== i"
                    >+</span
                >
                <span class="text-gray-500 dark:text-gray-400" *ngIf="expandedLogIndex === i"
                    >-</span
                >
            </div>

            <!-- Expanded Details -->
            <div
                *ngIf="expandedLogIndex === i"
                class="mt-4 rounded-lg bg-gray-100 p-4 text-gray-800 dark:bg-gray-900 dark:text-gray-200"
            >
                <p class="mb-3 font-medium">Payload:</p>
                <ngx-json-viewer
                    [json]="log.payload"
                    [expanded]="true"
                    [depth]="1"
                ></ngx-json-viewer>

                <p class="my-3 font-medium">Response Data:</p>
                <ngx-json-viewer
                    [json]="log.response_data"
                    [expanded]="true"
                    [depth]="2"
                ></ngx-json-viewer>
            </div>
        </div>

        <!-- Loading Spinner -->
        <div *ngIf="isLoading" class="mt-4 flex justify-center">
            <div
                class="spinner-border inline-block h-8 w-8 animate-spin rounded-full border-4"
                role="status"
            ></div>
        </div>

        <!-- Infinite Scroll Trigger -->
        <div #scrollAnchor></div>
    </div>
</div>

<app-timeout-error-modal
    [message]="errorStr"
    [data]="errorData"
    #errorModal
></app-timeout-error-modal>
