<div
    class="max-w-xs"
    *ngIf="
        message &&
        (message | messageData).type === MessageType.template &&
        messageSent.template
    "
    [ngStyle]="{
        'word-break': 'break-word',
        'white-space': 'pre-wrap',
    }"
>
    <div
        class="pt-1 px-1"
        *ngIf="
            message.receiver_data?.context &&
            (message.receiver_data?.context?.forwarded ||
                message.receiver_data?.context?.frequently_forwarded)
        "
    >
        <app-message-forwarded-header
            [context]="message.receiver_data?.context"
        ></app-message-forwarded-header>
    </div>

    <div
        class="w-full pt-1 px-1"
        *ngIf="
            message.sender_data?.context?.message_id ||
            message.receiver_data?.context?.id
        "
    >
        <app-message-reply-header
            [message]="message"
            [sent]="!!message.sender_data"
            [backgroundColor]="!!message.sender_data ? 'blue' : 'gray'"
            [contactName]="contactName"
        ></app-message-reply-header>
    </div>

    <div
        id="content"
        [ngClass]="{
            'rounded-md bg-blue-300 dark:bg-blue-800': true,
        }"
    >
        <div class="px-1 pt-1 pb-1">
            <!-- Header -->
            <div
                class="text-base mb-2"
                id="header"
                *ngIf="headerText || headerUseMedia.link || headerUseMedia.id"
            >
                <p class="" *ngIf="headerText">
                    {{ headerText }}
                </p>

                <app-message-media-content
                    *ngIf="headerType != 'text'"
                    [isSent]="true"
                    [mediaData]="headerUseMedia"
                    [messageType]="headerType"
                ></app-message-media-content>
            </div>

            <!-- Body -->
            <p id="body" *ngIf="bodyText">
                {{ bodyText }}
            </p>

            <!-- Footer -->
            <p
                class="text-xs text-gray-600 dark:text-gray-200 font-light mt-2"
                id="footer"
                *ngIf="footerText"
            >
                {{ footerText }}
            </p>

            <app-message-info
                class="pb-1"
                [sent]="sent"
                [message]="message"
            ></app-message-info>
        </div>
    </div>

    <!-- Buttons -->
    <div class="mt-1 flex flex-col gap-1 rounded-md" *ngIf="buttons">
        <button
            type=""
            [ngClass]="{
                'flex items-center justify-center w-full h-10 rounded-md opacity-100 relative': true,
                'bg-blue-300 dark:bg-blue-800': true,
            }"
            (click)="
                copyText(button.url || button.phone_number || button.text || '')
            "
            *ngFor="let button of buttons"
        >
            <a
                *ngIf="button.url"
                href="{{ button.url }}"
                class="flex items-center justify-center w-full h-full"
            >
                <i class="fa-solid fa-arrow-up-right-from-square mr-1"></i>

                {{ button.text }}
            </a>

            <span
                *ngIf="button.phone_number"
                class="flex items-center justify-center w-full h-full"
            >
                <i class="fa-solid fa-phone mr-1"></i>

                {{ button.phone_number }}
            </span>

            <span
                *ngIf="!button.phone_number && !button.url"
                class="flex items-center justify-center w-full h-full"
            >
                {{ button.text }}
            </span>

            <!-- Bottom left reply id -->
            <span
                class="absolute bottom-1 right-1 text-xs/2 font-light text-gray-200"
            >
                {{ button.flow_id }}
            </span>
        </button>
    </div>
</div>
