<div
    class="w-fit inline-block break-words rounded-lg mb-1"
    [ngStyle]="{ 'word-break': 'break-word' }"
    (mouseenter)="showOptions()"
    (mouseleave)="hideOptions()"
>
    <!-- Placeholder Preview Button -->
    <div
        *ngIf="!mediaSafeUrl"
        [ngClass]="{
            'flex justify-center items-center rounded-lg relative': true,
            'w-80': messageType != MessageType.sticker,
            'max-w-full aspect-square':
                messageType != MessageType.sticker &&
                messageType != MessageType.document &&
                messageType != MessageType.audio,
            'max-w-full w-56 h-56': messageType === MessageType.sticker,
            'aspect-auto h-20':
                messageType === MessageType.document ||
                messageType === MessageType.audio,
            'bg-gray-200 dark:bg-gray-800': !isSent,
            'bg-blue-400 dark:bg-blue-900': isSent,
        }"
    >
        <div
            class="flex items-center justify-center bg-transparent w-full absolute top-0 bottom-0 right-0 left-0"
        >
            <div
                class="bg-gray-900/50 rounded-l-full rounded-r-full h-14"
                *ngIf="!mediaSafeUrl || options"
            >
                <button
                    class="options"
                    (click)="downloadMedia()"
                    [ngClass]="{
                        'mr-1':
                            messageType != MessageType.document &&
                            !mediaSafeUrl,
                    }"
                >
                    <mat-icon
                        class="material-icons-outlined !h-11 !w-11 text-3xl"
                        >download</mat-icon
                    >
                </button>
                <button
                    class="options"
                    (click)="setMediaUrl()"
                    *ngIf="messageType != MessageType.document && !mediaSafeUrl"
                >
                    <mat-icon
                        class="material-icons-outlined !h-11 !w-11 text-3xl"
                        >preview</mat-icon
                    >
                </button>
            </div>
        </div>
        <p class="text-sm font-thin text-gray-500 absolute bottom-0 left-1">
            {{ mediaData.filename }}
        </p>
    </div>

    <!-- Switch by MessageType -->
    <ng-container *ngIf="mediaSafeUrl">
        <ng-container [ngSwitch]="messageType">
            <!-- Image -->
            <ng-container *ngSwitchCase="MessageType.image">
                <div
                    class="max-w-sm relative"
                    [ngClass]="{ 'w-96': mediaData.caption }"
                >
                    <img [src]="mediaSafeUrl" class="rounded-lg" />
                    <div
                        class="flex items-center justify-center bg-transparent w-full absolute top-0 bottom-0 right-0 left-0"
                        style="pointer-events: none"
                    >
                        <div
                            class="bg-gray-800/50 rounded-l-full rounded-r-full h-14"
                            *ngIf="options"
                        >
                            <button class="options" (click)="downloadMedia()">
                                <mat-icon
                                    class="material-icons-outlined !h-11 !w-11 text-3xl"
                                    >download</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Video -->
            <ng-container *ngSwitchCase="MessageType.video">
                <div
                    class="max-w-sm relative"
                    [ngClass]="{ 'w-96': mediaData.caption }"
                >
                    <video
                        controls
                        [src]="mediaSafeUrl"
                        class="rounded-lg"
                    ></video>
                    <div
                        class="flex items-center justify-center bg-transparent w-full absolute top-0 bottom-0 right-0 left-0"
                        style="pointer-events: none"
                    >
                        <div
                            class="bg-gray-800/50 rounded-l-full rounded-r-full h-14"
                            *ngIf="options"
                        >
                            <button class="options" (click)="downloadMedia()">
                                <mat-icon
                                    class="material-icons-outlined !h-11 !w-11 text-3xl"
                                    >download</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Audio -->
            <ng-container *ngSwitchCase="MessageType.audio">
                <div
                    class="max-w-sm relative flex flex-row"
                    [ngClass]="{ 'w-96': mediaData.caption }"
                >
                    <audio controls [src]="mediaSafeUrl"></audio>
                    <button
                        (click)="downloadMedia()"
                        [ngClass]="{
                            'inline-flex items-center justify-center aspect-square rounded-l-full rounded-r-full hover:bg-gray-800/50 transition-all duration-300 ease-in-out': true,
                            'w-0': !options,
                            'ml-2 w-14': options,
                        }"
                    >
                        <mat-icon
                            class="material-icons-outlined !h-11 !w-11 text-3xl"
                            >download</mat-icon
                        >
                    </button>
                </div>
            </ng-container>

            <!-- Sticker -->
            <ng-container *ngSwitchCase="MessageType.sticker">
                <div class="max-w-56 aspect-square max-h-56 w-56 h-56 relative">
                    <img [src]="mediaSafeUrl" class="rounded-lg" />
                    <div
                        class="flex items-center justify-center bg-transparent w-full absolute top-0 bottom-0 right-0 left-0"
                        style="pointer-events: none"
                    >
                        <div
                            class="bg-gray-800/50 rounded-l-full rounded-r-full h-14"
                            *ngIf="options"
                        >
                            <button class="options" (click)="downloadMedia()">
                                <mat-icon
                                    class="material-icons-outlined !h-11 !w-11 text-3xl"
                                    >download</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- Caption -->
    <p
        class="text-sm font-normal mt-2 break-words whitespace-pre-wrap"
        [textContent]="mediaData.caption"
        [ngClass]="{ 'w-80': !mediaSafeUrl, 'w-96': mediaSafeUrl }"
        *ngIf="mediaData.caption"
    ></p>
</div>
