<div class="flex relative" #draggableContainer>
    <div
        class="dark:bg-gray-800 h-screen overflow-auto flex flex-col overflow-x-hidden"
        [ngStyle]="{
            'width.px': queryParamsService.sidebarOpen ? sidebarWidth : 0,
        }"
        [ngClass]="{
            'transition-all duration-300': !isResizing,
        }"
    >
        <div class="px-4 py-4">
            <h2
                class="flex justify-between text-lg font-semibold text-gray-600 dark:text-gray-200"
            >
                <span class="flex items-center"> Webhooks </span>
                <a
                    [routerLink]="[]"
                    [queryParams]="queryParamsService.globalQueryParams"
                    queryParamsHandling="replace"
                    preserveFragment
                >
                    <app-small-button matIcon="add"> </app-small-button>
                </a>
            </h2>

            <div class="flex flex-row gap-2 relative w-full mt-4">
                <i
                    class="fas fa-search absolute left-3 top-3 text-gray-500 dark:text-gray-400"
                ></i>
                <textarea
                    class="bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-200 w-full p-2 pl-10 rounded-md resize-none outline-none overflow-hidden"
                    rows="1"
                    placeholder="Search"
                    i18n-placeholder
                    (input)="adjustHeight($event)"
                    (keydown.control.enter)="
                        webhookStore.getInitialSearchConcurrent()
                    "
                    [(ngModel)]="webhookStore.searchValue"
                    (ngModelChange)="webhookStore.getInitialSearchConcurrent()"
                    #searchTextarea
                ></textarea>

                <select
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none"
                    [(ngModel)]="webhookStore.searchMode"
                    (ngModelChange)="webhookStore.getInitialSearchConcurrent()"
                >
                    <option [value]="'url'">URL</option>
                    <option [value]="'http_method'">Method</option>
                    <option [value]="'event'">Event</option>
                </select>
            </div>

            <!-- Filters -->
            <div
                class="w-full mt-2 space-x-2 space-y-2"
                *ngIf="webhookStore.searchFilters.length > 0"
            >
                <span
                    class="inline-flex items-center border px-2 py-1 rounded-md border-blue-700 bg-blue-700/40 text-gray-400 text-sm font-thin font-mono"
                    *ngFor="let filter of webhookStore.searchFilters"
                >
                    {{ filter.text }}

                    <button
                        class="ml-1 w-6 aspect-square flex items-center justify-center rounded-full hover:bg-blue-600/40"
                        (click)="webhookStore.removeFilter(filter)"
                    >
                        <mat-icon class="material-icons-outlined !w-5 !h-5"
                            >delete</mat-icon
                        >
                    </button>
                </span>
            </div>
        </div>

        <ul
            class="flex-1 overflow-y-auto scrollable"
            (scroll)="onScroll($event)"
            *ngIf="!webhookStore.searchValue"
        >
            <li *ngFor="let webhook of webhookStore.webhooks">
                <app-webhook-preview [webhook]="webhook"></app-webhook-preview>
            </li>
        </ul>

        <ul
            class="flex-1 overflow-y-auto scrollable"
            (scroll)="onScroll($event)"
            *ngIf="webhookStore.searchValue"
        >
            <li *ngFor="let webhook of webhookStore.searchWebhooks">
                <app-webhook-preview [webhook]="webhook"></app-webhook-preview>
            </li>
        </ul>
    </div>

    <!-- Resize handle -->
    <div
        class="border-r border-gray-200 dark:border-gray-700 h-full bg-gray-300 dark:bg-gray-600 cursor-col-resize absolute right-0 top-0"
        (mousedown)="startResizing($event)"
    >
        <div
            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-gray-200 dark:bg-gray-600 rounded-full flex items-center justify-center cursor-col-resize z-10"
        >
            <span
                class="material-icons text-sm text-gray-500 dark:text-gray-300 opacity-50"
            >
                drag_indicator
            </span>
        </div>
    </div>
</div>
