<div
    [ngClass]="{
        'w-full flex flex-col justify-center items-center rounded-lg relative p-1': true,
        'bg-blue-800': message.sender_data,
        'bg-gray-700': !message.sender_data,
        'aspect-square': (message | messageData).type != MessageType.audio,
        'h-auto': (message | messageData).type == MessageType.audio,
    }"
    (mouseenter)="showOptions()"
    (mouseleave)="hideOptions()"
>
    <div
        *ngIf="!mediaSafeUrl"
        [ngClass]="{
            'w-full h-full flex justify-center items-center rounded-lg relative': true,
            'bg-blue-800': message.sender_data,
            'bg-gray-800': message.receiver_data,
            'h-10': (message | messageData).type == MessageType.audio,
        }"
    >
        <!-- Document Message -->
        <p
            class="text-sm font-thin text-gray-500 absolute bottom-0 left-1"
            [textContent]="mediaData?.filename"
        ></p>
    </div>

    <!-- Image Message -->
    <div
        *ngIf="
            (message | messageData)?.type === MessageType.image && mediaSafeUrl
        "
        class="w-full h-full"
    >
        <img [src]="mediaSafeUrl" class="w-full h-full object-cover" />
    </div>

    <!-- Video Message -->
    <div
        *ngIf="
            (message | messageData)?.type === MessageType.video && mediaSafeUrl
        "
        class="w-full h-full"
    >
        <video
            controls
            [src]="mediaSafeUrl"
            class="w-full h-full object-cover"
        ></video>
    </div>

    <!-- Audio Message -->
    <div
        class="w-full h-10 flex items-center justify-center"
        *ngIf="
            (message | messageData)?.type === MessageType.audio && mediaSafeUrl
        "
    >
        <audio controls [src]="mediaSafeUrl" class="w-full h-full"></audio>

        <button
            (click)="downloadMedia()"
            [ngClass]="{
                'inline-flex items-center justify-center aspect-square rounded-l-full rounded-r-full hover:bg-gray-800/50 transition-all duration-300 ease-in-out': true,
                'w-10 ml-1': options,
                'w-0': !options,
            }"
        >
            <mat-icon class="material-icons-outlined !h-4 !w-4"
                >download</mat-icon
            >
        </button>
    </div>

    <!-- Sticker Message -->
    <div
        *ngIf="
            (message | messageData)?.type === MessageType.sticker &&
            mediaSafeUrl
        "
        class="w-full h-full"
    >
        <img [src]="mediaSafeUrl" class="w-full h-full" />
    </div>

    <div
        class="flex items-center justify-center bg-transparent w-full absolute top-0 bottom-0 right-0 left-0"
        style="pointer-events: none"
    >
        <div
            class="bg-gray-800/50 rounded-l-full rounded-r-full h-6"
            *ngIf="
                (message | messageData).type == MessageType.audio
                    ? !mediaSafeUrl
                    : !mediaSafeUrl || options
            "
        >
            <button class="options" (click)="downloadMedia()">
                <mat-icon class="material-icons-outlined">download</mat-icon>
            </button>

            <button
                class="options"
                (click)="setMediaUrl()"
                *ngIf="
                    (message | messageData)?.type != MessageType.document &&
                    !mediaSafeUrl
                "
            >
                <mat-icon class="material-icons-outlined">preview</mat-icon>
            </button>

            <a
                [routerLink]="[]"
                [queryParams]="goToMessageQueryParams"
                queryParamsHandling="merge"
                class="options"
            >
                <mat-icon class="material-symbols-outlined"
                    >switch_access_shortcut</mat-icon
                >
            </a>
        </div>
    </div>
</div>
