<div
    class="py-8 fixed top-0 left-0 bottom-0 right-0 flex items-center justify-center bg-gray-800 bg-opacity-70 z-10"
    (click)="close.emit()"
>
    <div
        class="max-w-md h-full flex flex-col"
        id="content"
        (click)="$event.stopPropagation()"
    >
        <!-- Header -->
        <div
            class="px-6 py-2 w-full bg-blue-800 dark:bg-gray-700 text-white flex justify-start items-center"
            id="header"
        >
            <button
                [ngClass]="{
                    'w-10 aspect-square flex items-center justify-center rounded-full mr-2': true,
                }"
                (click)="close.emit()"
            >
                <mat-icon fontIcon="close"></mat-icon>
            </button>

            <span class="text-lg font-normal">{{ listName }}</span>
        </div>

        <!-- Body -->
        <div
            class="h-full w-full bg-white dark:bg-gray-900 by-2 overflow-y-scroll hide-scrollbar"
            id="body"
        >
            <div class="h-full w-full">
                <div class="section w-full" *ngFor="let section of sections">
                    <p
                        class="w-full pt-8 pb-5 px-4 text-lg text-blue-700"
                        *ngIf="section.title"
                    >
                        {{ section.title }}
                    </p>

                    <div
                        class="min-h-18 w-full px-4 flex juftify-between items-center hover:bg-gray-100 dark:hover:bg-gray-800"
                        (click)="selectRow(row)"
                        *ngFor="let row of section.rows"
                    >
                        <div class="w-full flex flex-col py-3">
                            <span class="dark:text-white text-lg">{{
                                row.title
                            }}</span>
                            <span class="text-gray-600 text-base">{{
                                row.description
                            }}</span>
                        </div>
                        <!-- Selector Div -->
                        <div class="selector" (click)="selectRow(row)">
                            <mat-icon
                                class="material-symbols-outlined"
                                *ngIf="isSelectedRow(row)"
                                class="opacity-100"
                                [class.selected]="true"
                                >radio_button_checked</mat-icon
                            >

                            <mat-icon
                                class="material-symbols-outlined"
                                *ngIf="!isSelectedRow(row)"
                                class="opacity-100 brightness-50 dark:opacity-50 dark:brightness-100"
                                [class.selected]="false"
                                >radio_button_unchecked</mat-icon
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="px-6 py-5 w-full bg-blue-800 dark:bg-gray-700 flex justify-start items-center relative"
            id="footer"
            *ngIf="selectedRow"
        >
            <span class="text-sm font-normal text-white">{{
                selectedRow.title
            }}</span>

            <button
                type=""
                class="w-16 aspect-square bg-blue-700 dark:bg-blue-800 absolute right-6 bottom-8 rounded-full flex items-center justify-center"
                (click)="copyText(selectedRow.id)"
            >
                <mat-icon class="material-icons-outlined">copy</mat-icon>
            </button>
        </div>
    </div>
</div>
