.selected {
    filter: brightness(0) saturate(100%) invert(21%) sepia(94%) saturate(4406%)
        hue-rotate(201deg) brightness(92%) contrast(92%);
}

#content {
    width: 436px;
}

.min-h-18 {
    min-height: 72px;
}
