/* You can add global styles to this file, and also import other style files */

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    /* For Webkit-based browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    scrollbar-width: none;

    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
}

// Prevent scrolling on body
body,
html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
    .scrollable {
        scrollbar-width: thin;
        scrollbar-color: #9ca3af transparent; /* gray-400 from Tailwind */
    }

    .dark .scrollable {
        scrollbar-color: #4b5563 transparent; /* gray-600 from Tailwind */
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Move to a global file for just the editor later
.checkered-fill-area {
    display: table;
    z-index: -1;
    position: absolute;
    top: -320000px;
    left: -320000px;
    width: 640000px;
    height: 640000px;
}

// Define variables for colors and spacing
$checkered-size-large: 80px;
$checkered-size-small: 16px;

$checkered-space-large: 3.2px;
$checkered-space-small: 1.6px;

$checkered-bg-light: #f1f1f1;
$checkered-bg-light-base: #ffffff;
$checkered-bg-dark: #1f2937;
$checkered-bg-dark-base: #111827;

@layer components {
    .checkered-background {
        opacity: 1;
        background-size:
            $checkered-size-large $checkered-size-large,
            $checkered-size-large $checkered-size-large,
            $checkered-size-small $checkered-size-small,
            $checkered-size-small $checkered-size-small;
        background-position:
            -$checkered-space-large (-$checkered-space-large),
            -$checkered-space-large (-$checkered-space-large),
            -$checkered-space-small (-$checkered-space-small),
            -$checkered-space-small (-$checkered-space-small);
    }

    .checkered-background {
        @apply bg-gray-300;
        background-image: linear-gradient(
                $checkered-bg-light $checkered-space-large,
                transparent $checkered-space-large
            ),
            linear-gradient(
                90deg,
                $checkered-bg-light $checkered-space-large,
                transparent $checkered-space-large
            ),
            linear-gradient(
                $checkered-bg-light $checkered-space-small,
                transparent $checkered-space-small
            ),
            linear-gradient(
                90deg,
                $checkered-bg-light $checkered-space-small,
                $checkered-bg-light-base $checkered-space-small
            );
    }

    .dark .checkered-background {
        @apply bg-gray-900;
        background-image: linear-gradient(
                $checkered-bg-dark $checkered-space-large,
                transparent $checkered-space-large
            ),
            linear-gradient(
                90deg,
                $checkered-bg-dark $checkered-space-large,
                transparent $checkered-space-large
            ),
            linear-gradient(
                $checkered-bg-dark $checkered-space-small,
                transparent $checkered-space-small
            ),
            linear-gradient(
                90deg,
                $checkered-bg-dark $checkered-space-small,
                $checkered-bg-dark-base $checkered-space-small
            );
    }
}

#dock > div {
    @apply w-full !h-full flex flex-col items-center justify-start top-0 left-0 right-0 bottom-0; // !bg-inherit

    overflow-x: auto;
    overflow-y: auto;
    background: none !important;
}

#dock > div > div {
    @apply w-full !h-auto !py-2 flex justify-center;
}

#dock > div > div > * {
    @apply w-full !h-auto;
}

// Shadow
.round-shadow {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
