<div class="w-screen h-screen flex">
  <!-- CHATS SIDEBAR -->
  <app-chats-sidebar
    [ngClass]="{
      hidden: currentFragment !== HomeFragment.chats,
    }"
    (select)="conversations.getCurrentMessagingProductContactId($event)"
    #chatsSidebar
  >
  </app-chats-sidebar>
  <!-- MAIN CONTENT WRAPPER (centered with mx-auto) -->
  <div
    class="flex-1 min-w-0 flex justify-center"
    [ngClass]="{
      hidden:
        currentFragment !== HomeFragment.chats ||
        queryParamIs('mode', 'new_contact'),
    }"
  >
    <div class="w-full dark:bg-gray-800">
      <app-conversations
        #conversations
        (searchAtContactId)="
          chatsSidebar.addMessagingProductContactIdField($event)
        "
        [ngClass]="{
          hidden: !hasQueryParam('messaging_product_contact.id'),
        }"
      ></app-conversations>
    </div>
  </div>

  <!-- NEW CONTACT -->
  <div
    class="flex-1 min-w-0 flex justify-center"
    *ngIf="
      currentFragment === HomeFragment.chats &&
      !hasQueryParam('messaging_product_contact.id') &&
      queryParamIs('mode', 'new_contact')
    "
  >
    <div class="w-full max-w-3xl dark:bg-gray-800">
      <app-new-contact
        (select)="conversations.getCurrentMessagingProductContactId($event)"
      ></app-new-contact>
    </div>
  </div>

  <!-- TEMPLATE SIDEBAR -->
  <app-template-sidebar
    *ngIf="currentFragment === HomeFragment.templates"
  ></app-template-sidebar>

  <!-- TEMPLATE DETAILS -->
  <div
    class="flex-1 min-w-0 flex justify-center"
    *ngIf="currentFragment === HomeFragment.templates"
  >
    <div class="w-full max-w-3xl dark:bg-gray-800">
      <app-template-details></app-template-details>
    </div>
  </div>

  <!-- CAMPAIGN SIDEBAR -->
  <app-campaigns-sidebar
    *ngIf="currentFragment === HomeFragment.campaigns && !environment.isLite"
  ></app-campaigns-sidebar>

  <!-- CAMPAIGN DETAILS -->
  <div
    class="flex-1 min-w-0 flex justify-center"
    *ngIf="currentFragment === HomeFragment.campaigns && !environment.isLite"
  >
    <div class="w-full max-w-3xl dark:bg-gray-800">
      <app-campaign-details></app-campaign-details>
    </div>
  </div>
</div>
