<div class="relative flex h-screen w-full max-w-full justify-center">
    <app-sidebar class="grow-0" [activePage]="RoutePath.account" #sidebar></app-sidebar>

    <div
        class="grow-1 scrollable mx-auto h-full w-full overflow-y-scroll p-6 dark:bg-gray-900 dark:text-gray-100"
    >
        <h3 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-200" i18n>
            Account settings
        </h3>

        <div
            *ngIf="userStore.currentUser"
            class="mb-6 grid grid-cols-12 gap-4 rounded-lg bg-gray-100 p-6 dark:bg-gray-700"
        >
            <!-- Display user information -->
            <div
                [ngClass]="{
                    'col-span-12': true,
                    'sm:col-span-5': !isEditing,
                    'sm:col-span-3': isEditing,
                }"
            >
                <label class="mb-2 block text-sm font-medium" i18n>Name</label>
                <input
                    type="text"
                    [(ngModel)]="userStore.currentUser.name"
                    [disabled]="!isEditing"
                    class="w-full rounded bg-gray-200 p-2 outline-none dark:bg-gray-600 dark:text-white"
                />
            </div>

            <div
                [ngClass]="{
                    'col-span-12': true,
                    'sm:col-span-5': !isEditing,
                    'sm:col-span-3': isEditing,
                }"
            >
                <label class="mb-2 block text-sm font-medium">Email</label>
                <input
                    type="email"
                    [(ngModel)]="userStore.currentUser.email"
                    [disabled]="!isEditing"
                    class="w-full rounded bg-gray-200 p-2 outline-none dark:bg-gray-600 dark:text-white"
                />
            </div>

            <div
                [ngClass]="{
                    'col-span-12 sm:col-span-2': true,
                }"
                *ngIf="isEditing"
            >
                <label class="mb-2 block text-sm font-medium" i18n>Password</label>
                <input
                    [(ngModel)]="userStore.currentUser.password"
                    [disabled]="!isEditing"
                    class="w-full rounded bg-gray-200 p-2 outline-none dark:bg-gray-600 dark:text-white"
                />
            </div>

            <!-- Button section -->
            <div
                class="col-span-12 flex flex-col items-center sm:col-span-2 sm:mt-7"
                *ngIf="!isEditing"
            >
                <!-- Initially a Start Editing button -->
                <button
                    (click)="toggleEdit()"
                    class="w-full rounded bg-green-600 py-2 font-bold text-white hover:bg-green-700 dark:bg-green-500 dark:hover:bg-green-600"
                    i18n
                >
                    Edit
                </button>
            </div>

            <!-- When editing, show Cancel and Save buttons -->
            <div
                class="col-span-6 flex flex-col items-center sm:col-span-2 sm:mt-7"
                *ngIf="isEditing"
            >
                <button
                    (click)="cancelEdit()"
                    class="w-full rounded bg-red-600 py-2 font-bold hover:bg-red-700 dark:bg-red-500 dark:text-white dark:hover:bg-red-600"
                    i18n
                >
                    Cancel
                </button>
            </div>

            <div
                class="col-span-6 flex flex-col items-center sm:col-span-2 sm:mt-7"
                *ngIf="isEditing"
            >
                <button
                    (click)="saveChanges()"
                    class="w-full rounded bg-blue-600 py-2 font-bold hover:bg-blue-700 dark:bg-blue-500 dark:text-white dark:hover:bg-blue-600"
                    i18n
                >
                    Save
                </button>
            </div>
        </div>

        <h3 class="mb-4 text-xl font-semibold text-gray-600 dark:text-gray-200" i18n>
            Local settings
        </h3>

        <div class="grid w-full grid-cols-12 gap-4 rounded-lg bg-gray-100 p-6 dark:bg-gray-700">
            <!-- Multi-Select for Auto-Preview -->
            <div id="auto-preview-multi-select">
                <label class="mb-2 block text-sm font-medium" i18n>Auto Preview</label>
                <div class="relative">
                    <div class="relative inline-block w-full">
                        <button
                            class="flex w-full items-center justify-between rounded bg-gray-200 p-2 dark:bg-gray-600 dark:text-white"
                            type="button"
                            (click)="isDropdownOpen = !isDropdownOpen"
                        >
                            <span i18n>Choose options</span>
                            <svg
                                class="ml-2 h-4 w-4"
                                fill="none"
                                stroke="currentColor"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M19 9l-7 7-7-7"
                                ></path>
                            </svg>
                        </button>
                        <ul
                            *ngIf="isDropdownOpen"
                            class="absolute z-10 mt-2 w-full rounded-lg bg-gray-200 shadow-lg dark:bg-gray-600"
                        >
                            <li class="p-2">
                                <label class="inline-flex cursor-pointer items-center">
                                    <input
                                        type="checkbox"
                                        class="form-checkbox rounded-sm bg-gray-200 text-blue-600 focus:ring-blue-300 dark:bg-gray-600"
                                        [(ngModel)]="localSettings.autoPreview.image"
                                        (ngModelChange)="
                                            localSettings.setAutoPreviewSettings('image', $event)
                                        "
                                    />
                                    <span class="ml-2 dark:text-gray-300" i18n>Image</span>
                                </label>
                            </li>
                            <li class="p-2">
                                <label class="inline-flex cursor-pointer items-center">
                                    <input
                                        type="checkbox"
                                        class="form-checkbox rounded-sm bg-gray-200 text-blue-600 focus:ring-blue-300 dark:bg-gray-600"
                                        [(ngModel)]="localSettings.autoPreview.video"
                                        (ngModelChange)="
                                            localSettings.setAutoPreviewSettings('video', $event)
                                        "
                                    />
                                    <span class="ml-2 dark:text-gray-300" i18n>Video</span>
                                </label>
                            </li>
                            <li class="p-2">
                                <label class="inline-flex cursor-pointer items-center">
                                    <input
                                        type="checkbox"
                                        class="form-checkbox rounded-sm bg-gray-200 text-blue-600 focus:ring-blue-300 dark:bg-gray-600"
                                        [(ngModel)]="localSettings.autoPreview.audio"
                                        (ngModelChange)="
                                            localSettings.setAutoPreviewSettings('audio', $event)
                                        "
                                    />
                                    <span class="ml-2 dark:text-gray-300" i18n>Audio</span>
                                </label>
                            </li>
                            <li class="p-2">
                                <label class="inline-flex cursor-pointer items-center">
                                    <input
                                        type="checkbox"
                                        class="form-checkbox rounded-sm bg-gray-200 text-blue-600 focus:ring-blue-300 dark:bg-gray-600"
                                        [(ngModel)]="localSettings.autoPreview.sticker"
                                        (ngModelChange)="
                                            localSettings.setAutoPreviewSettings('sticker', $event)
                                        "
                                    />
                                    <span class="ml-2 dark:text-gray-300" i18n>Sticker</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Unread Mode -->
            <div id="unread-mode-selector">
                <label
                    class="mb-2 block text-sm font-medium"
                    matTooltip="Defines where your message read will be registered. Used to track messages you didn't read yet."
                    i18n-matTooltip
                    ><span i18n>Read control</span>
                    <mat-icon
                        class="material-icons-outlined ml-1 !h-4 !w-4 text-sm brightness-50 dark:brightness-100"
                        >info</mat-icon
                    >
                </label>

                <select
                    class="col-span-4 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                    matTooltip='"None" means that will not track messages read. "Server" means that will track messages read at the server, synched with other users. "Local" means that will track messages read only in your session locally.'
                    i18n-matTooltip
                    [(ngModel)]="localSettings.unreadMode"
                    (ngModelChange)="localSettings.setUnreadMode($event)"
                >
                    <option [value]="UnreadMode.NONE" i18n>None</option>
                    <option [value]="UnreadMode.SERVER" i18n>Server</option>
                    <option [value]="UnreadMode.LOCAL" i18n>Local</option>
                </select>
            </div>

            <!-- Dark and light modes -->
            <div id="theme-mode-selector">
                <label class="mb-2 block text-sm font-medium" i18n>Theme</label>
                <div
                    class="flex w-fit space-x-2 rounded-xl bg-gray-400 p-2 text-white dark:bg-gray-800"
                >
                    <button
                        (click)="toggleTheme(ThemeMode.light)"
                        [class.bg-blue-500]="localSettings.themeMode === ThemeMode.light"
                        class="rounded px-2 py-1 transition hover:bg-blue-600"
                    >
                        ☀️
                    </button>
                    <button
                        (click)="toggleTheme(ThemeMode.dark)"
                        [class.bg-blue-500]="localSettings.themeMode === ThemeMode.dark"
                        class="rounded px-2 py-1 transition hover:bg-blue-600"
                    >
                        🌙
                    </button>
                    <button
                        (click)="toggleTheme(ThemeMode.system)"
                        [class.bg-blue-500]="localSettings.themeMode === ThemeMode.system"
                        class="rounded px-2 py-1 transition hover:bg-blue-600"
                    >
                        💻
                    </button>
                </div>
            </div>

            <!-- Auto mark as read -->
            <div id="auto-read-selector">
                <label class="mb-2 block text-sm font-medium text-gray-700 dark:text-gray-200" i18n>
                    Auto mark as read
                </label>

                <div class="flex items-center">
                    <button
                        role="switch"
                        type="button"
                        [attr.aria-checked]="localSettings.autoMarkAsRead"
                        (click)="toggleMarkAsRead(!localSettings.autoMarkAsRead)"
                        class="relative inline-flex h-6 w-11 items-center rounded-full bg-gray-300 transition-colors duration-300 dark:bg-gray-600"
                        [ngClass]="{
                            'bg-blue-600 dark:bg-blue-500': localSettings.autoMarkAsRead,
                        }"
                    >
                        <span
                            class="inline-block h-5 w-5 transform rounded-full bg-white transition-transform duration-300 ease-in-out"
                            [ngClass]="{
                                'translate-x-5': localSettings.autoMarkAsRead,
                                'translate-x-1': !localSettings.autoMarkAsRead,
                            }"
                        ></span>
                    </button>

                    <span class="ml-3 text-sm font-medium text-gray-600 dark:text-gray-300">
                        <span *ngIf="localSettings.autoMarkAsRead" i18n>Enabled</span>
                        <span *ngIf="!localSettings.autoMarkAsRead" i18n>Disabled</span>
                    </span>
                </div>
            </div>

            <button
                class="absolute bottom-2 right-3 flex items-center justify-center rounded-full p-2 hover:bg-gray-300 hover:bg-opacity-10 dark:hover:bg-gray-500"
                (click)="auth.logout()"
            >
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </div>
</div>

<app-timeout-error-modal
    [message]="errorStr"
    [data]="errorData"
    #errorModal
></app-timeout-error-modal>
